.avatar {
    display: flex;
    align-items: center;
    gap: 0.35em;
    height: 35px;
}

.avatar:hover {
    cursor: pointer;
    border-radius: var(--border-radius);
    color: var(--text-color);
    background-color: var(--background-color-highlight);
}

.icon {
    font-weight: 400;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 1px;
    background-color: var(--background-color-100);
}

.icon svg {
    fill: var(--svg-fill-color);
}

.icon:hover svg {
    fill: var(--svg-fill-color-hover);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
}