.button {
    min-width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-100);
    cursor: pointer;
}

.button:hover {
    background-color: var(--background-color-200);
}

.button svg {
    fill: #14c780;
}