.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    padding-block: 2em;
    flex-wrap: wrap;
}

.courses figure {
    flex: 1;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    gap: 0.2em;
}

.thumb {
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius);
}

.courses figure figcaption {
    font-weight: bold;
}

.courses figure figcaption:hover {
    color: white;
}

.author:hover {
    color: var(--primary);
}

.time {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em;
    background-color: rgba(24, 23, 28, 0.59);
    color: var(--text-color);
}
