.loader {
    border: 4px solid var(--background-color-highlight);
    border-top: 4px solid var(--primary);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}